.finalImgVictor{
    background-image: url('/src/img/1.jpg');
    /* background-image: url('/src/img/Приглашеение\ Алина_обработано.png'); */
    background-position: center; /*Center the image */
    background-repeat: no-repeat; 
    background-size: contain;
    height: 600px;  
    width: 100%;
    /* object-fit: fill;
    /* width: 100vw; */
    /* background-repeat: no-repeat; 
    background-size: contain;
    height: 650px;  /* Alina */
    
}

.finalImgAlina{
    background-image: url('/src/img/Приглашеение\ Алина_обработано.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    height: 650px;  /* Alina */
    width: 100%;
}

.finalTxt{
    line-height: 25px;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 90vw;
    margin: auto;
    
}
.time{
    text-align: left;
    margin-left: 5vw;
}
.show{
display: block;
}
.hide{
    display: none;
}
.finalBlock{
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: rgb(157,121,181);
background: -moz-linear-gradient(0deg, rgba(157,121,181,1) 0%, rgba(252,135,135,1) 58%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(157,121,181,1) 0%, rgba(252,135,135,1) 58%, rgba(255,255,255,1) 100%);
background: linear-gradient(0deg, rgba(157,121,181,1) 0%, rgba(252,135,135,1) 58%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d79b5",endColorstr="#ffffff",GradientType=1);
}
.map{
    /* display: none; */
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90vw;
    margin: auto;
}